<header>
  <h1><a href="/">My Blog</a></h1>
  <nav>
    <a href="/">Home</a>
    <a href="/home">View Blogs</a>
  </nav>
  <!-- Link to styles.css -->
  <link rel="stylesheet" href="/styles.css">
</header>